*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label{
    color: rgb(62, 58, 58);
}
.corporateNav{
    z-index: 999;
    width: 100vw;
}
.travel_img img{
    text-align: justify;
    position: relative;
    width: 100vw;
    height: 100vh;
    filter: brightness(0.4);
}
.image_content{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    top: 66px;
    width: 100%;
    text-align: center;
}
iframe{
    border-radius: 10px;
}
.how_to_work_with{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.how_it_works img{
    width: 15rem;
    height: 12rem;
}
.works{
    width: 18rem;
}
.control_items{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.controller{
    width: 20rem;
}
.controller span{
    font-size: 50px;
}
.pono_corporate_use{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pono_corporate_use_img img{
    margin-left: -350px;
}
.use_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.travel{
    width: 18rem;
}
.white_papers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.white_papers p{
    width: 50%;
}
.comapny_signup{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.form{
    background-color: rgb(170, 206, 206);
    border: .2px solid black;
    padding: 2rem;
    font-weight: bold;
    border-radius: 10px;
}
.form input, select{
    background-color: rgb(225, 244, 230);
    padding: .1rem .5rem;
    border-radius: 5px;
}

@media screen and (max-width:600px)  {
    body{
        width: 100vw;
        overflow-x: hidden;
    }
    .pono_corporate_use_img img{
        width: 30rem;
        height: 20rem;
    }
    iframe{
        width: 20rem;
    }
}